  .container {
    display: flex;
    background-color: #4E5BEE;
    width: 40%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
    
  }

  .grab{
    margin-bottom: 50px;
    width: 30%;
     
  }

  .container .text{
    
    position: relative;
    
    color: white;
    text-align: center;
  }
  
  